<mat-toolbar color="primary" class="main-toolbar mat-elevation-z4">
  <div class="container">
    <div class="brand" (click)="goToHome()">
      <mat-icon class="logo-icon">local_shipping</mat-icon>
      <span class="brand-name">Delivereats</span>
    </div>

    <span class="spacer"></span>

    @if (role === "Cliente") {
      <div class="cart-section">
        <button mat-icon-button routerLink="/cart">
          <mat-icon
            [matBadge]="cartService.totalItems()"
            matBadgeColor="warn"
            [matBadgeHidden]="cartService.totalItems() === 0"
          >
            shopping_cart
          </mat-icon>
        </button>
        <button mat-icon-button routerLink="/my-orders" class="action-btn">
          <mat-icon matBadgeColor="warn">assignment</mat-icon>
        </button>
        <button mat-icon-button routerLink="/wallet" class="action-btn">
          <mat-icon matBadgeColor="warn">payments</mat-icon>
        </button>
      </div>
    }

    @if (user()) {
      <div class="user-section">
        <div class="user-text">
          <span class="name">{{ user().firstName }}</span>
          <span class="role-badge">{{ user().role }}</span>
        </div>

        <button mat-icon-button [matMenuTriggerFor]="profileMenu">
          <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #profileMenu="matMenu" xPosition="before">
          <div class="menu-header">
            <p class="menu-email">{{ user().email }}</p>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </div>
    }
  </div>
</mat-toolbar>
